body {
    background-color: rgb(131, 131, 76);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navbar-logo {
    min-height: 5px;
    padding: 0 5px 5px;
    width: 50px;

}

.bg-light {
  background-color: rgb(131, 131, 76) !important;
}

.jumbotron {
    background-image: url(../Images/Hero-new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(60vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;


}

h2 {
    border-style: solid;
    border-color: rgb(116, 31, 31);
    padding: 10px;
    border-radius: 2em;
    border-width: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h3 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

.text-white {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 1.7em;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

/*Added some bg color to enhance the text*/
.text-left{
    background-color: rgba(60, 60, 60, 0.5);
    display: flex;
    align-items: center;
}


.center-it{
display: flex;
justify-content: center;


}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    float: right;

  }


.fa:hover {
    opacity: 0.7;
    box-shadow: 4px 4px 4px 4px black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  float: right
;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}