body {
    background-color: rgb(131, 131, 76);
}

.navbar-logo {
    min-height: 5px;
    padding: 0 5px 5px;
    width: 50px;

}

.jumbotron {
    background-image: url(../Images/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;


}

.text-white {
    font-size: larger;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 30px;
    text-align: justify;
}
